.navigasi :hover {
  background-color: #3498db;
  padding: 10px 20px;
  border: 10px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 30px;
  color: chartreuse;
}
.navigasi a{
    font-size: 100px;
    text-align: center;
}