.container{
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: space-between;
}
.container-two{
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: space-around;
}
.container-tree{
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: space-evenly;
}
.container-four{
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: flex-end;
}
.container-five{
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: center;
}
.container-six{
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: flex-start;
}
/* klosumbu x (horizontal) pake justify content dengan syarat harus ada flex direction row*/