* {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "DM Sans", sans-serif;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #02033c;
  color: white;
  padding: 10px 20px;
  margin: 20px 30px;
  border-radius: 15px;
  box-shadow: 8px 8px 12px lightgrey;
}
.nav-deks {
  display: none;
}
.btn-nav {
  display: none;
}
.foto-hero {
  display: none;
}
#bars-icon {
  display: block;
}
@media (min-width: 391px) {
  .nav-deks {
    display: flex;
    align-items: center;
    margin-left: 150px;
    gap: 50px;
    font-size: 20px;
  }
  .nav-deks a {
    text-decoration: none;
    color: white;
  }
  .btn-nav {
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #0077ff;
    color: white;
    font-weight: bold;
  }
  .btn-nav:hover {
    background-color: white;
    color: #005fcc;
    cursor: pointer;
  }
  #bars-icon {
    display: none;
  }
}
.profile {
  display: flex;
  justify-content: flex-start;
}
.profile img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 19px;
  border-radius: 200px;
}
.hero-1 {
  color: #010228;

  margin-left: 10px;
}
.hero-1 h1 {
  font-size: 100px;
}
.hero-1 p {
  font-size: 15px;
}
.btn-contact {
  padding: 15px 40px;
  background-color: #0077ff;
  color: white;
  border-radius: 15px;
  border: none;

  margin-top: 90px;
  display: flex;
  justify-content: center;
  box-shadow: 4px 6px 44px 15px lightblue;
  font-size: medium;
}
.btn-contact:hover {
  background-color: white;
  color: #005fcc;
  cursor: pointer;
}
.btn-1 {
  margin: 50px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 391px) {
  .nama {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
  }
  .isi-nama {
    display: flex;
    flex-direction: column;
  }
  .nama img {
    margin-top: 60px;
  }
  .nama p {
    margin-top: -40px;
  }
  .btn-1 {
    margin-left: 80px;
    margin-top: -80px;
  }
  .foto-hero {
    display: block;
    width: 800px;
    height: 500px;
  }
  .profile p {
    margin-top: 25px;
  }
  .decor {
    display: block;
    margin-top: -120px;
    margin-left: 15px;
  }
}
.sct-2 {
  color: #0077ff;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-left: 30px;
}
.decor {
  display: none;
}
.decor-2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.sct-2 img {
  margin-left: -35px;
}
.skills {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1px;
  margin-top: 50px;
}
.sk {
  width: 45%;
}
@media (min-width: 391px) {
  .skills p {
    display: flex;
    flex-direction: column;
  }
  .skills img {
    margin-right: 10px;
  }
  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sk {
    width: 20%;
  }
  .wrap-img img {
    width: 100%;
  }
}
.sct-3 {
  background: url(./Vector-Cuadros.png) #02033c;
  height: 300px;
  padding: 100px 20px;
  padding-top: 30px;
  margin-left: -20px;
  margin-right: -20px;
}
.aboutme {
  color: white;
  text-align: center;
}
.isi-sct-3 {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  height: 120px;
  margin-top: -30px;
  margin: 0px 20px;
}
.isi-sct-3 p {
  font-size: 25px;
}
.img-sct-3 {
  height: 70px;
}
.from {
  background-color: #9e66de;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  width: 130px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  margin-top: -80px;
  box-shadow: 2px 2px 22px 3px lightblue;
}
.from p {
  margin: 5%;
  display: flex;
  justify-content: center;
  color: white;
}
.persen {
  font-weight: bold;
}
.indo {
  font-weight: lighter;
  font-size: 10px;
}
.respon {
  margin-left: 10px;
}
.klpk-1-sct-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-right: 5px;
}
.klpk-2-sct-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px;
}
.klpk-1-sct-3 p {
  margin: 4%;

  font-size: small;
}
.klpk-2-sct-3 p {
  margin: 5%;
  margin-left: 5px;
  font-size: small;
}
.decor-sct-3 {
  margin-bottom: 70px;
  margin-left: 20px;
}
.decor-sct-3 img {
  width: 100px;
  height: 50px;
}
.decor-sct-3-2 {
  margin-left: 300px;
  margin-top: 25px;
}
@media (min-width: 391px) {
  .isi-sct-3 {
    margin: 0px 400px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .decor-sct-3 {
    margin-bottom: 70px;
    margin-left: 200px;
  }
  .decor-sct-3-2 {
    margin-left: 1000px;
    margin-top: -50px;
  }
}
.port {
  color: #0077ff;
  margin-left: 30px;
}
.underline {
  margin-left: 35px;
  margin-top: -25px;
}
.underline img {
  margin-left: 35px;
  width: 120px;
}
.img-port {
  border-radius: 20px;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 70px;
}
.img-port-1 {
  background-color: white;
  box-shadow: 7px 4px 15px grey;
  width: 250px;
  height: 150px;
  border-radius: 20px;
}
.img-port-1 img {
  width: 150px;
  margin-top: -10px;
  margin-left: 50px;
}
.img-port-1 p {
  color: #0077ff;
  font-weight: bold;
  margin-top: -1px;
  margin-left: 20px;
}
hr {
  margin-top: -8px;
  margin-left: 20px;
  width: 70%;
}
.u-p {
  font-size: 10px;
  color: grey;
  margin-left: 20px;
  margin-top: -20px;
}
.img-port-2 img {
  width: 200px;
  height: 70px;
  margin-top: -30px;
  margin-left: 30px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.img-port-2 {
  margin-top: 60px;
  background-color: white;
  box-shadow: 7px 4px 15px grey;
  border-radius: 20px;
  width: 250px;
  height: 150px;
}
.img-port-2 p {
  color: #0077ff;
  font-weight: bold;
  margin-top: -13px;
  margin-left: 20px;
}
.u-p-2 {
  font-size: 10px;
  color: grey;
  margin-top: -30px;
  margin-left: 20px;
}
.hr2 {
  margin-left: 20px;
}
@media (min-width: 391px) {
  .underline img {
    margin-bottom: 70px;
  }
  .img-port {
    width: 750px;
    height: 300px;
    margin-left: 40px;
  }
  .img-port-1 {
    background-color: white;
    padding: 80px 235px;
    border-radius: 20px;
    margin-left: 390px;
  }
  .img-port-1 img {
    width: 400px;
    margin-top: -200px;
    margin-left: -70px;
  }
  .img-port-1 p {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: -200px;
    font-size: 40px;
  }
  .u-p {
    margin-left: -200px;
  }
  .u-p-2 {
    margin-left: 20px;
  }
  .hr1 {
    width: 200%;
    margin-left: -200px;
  }
  .img-port-2 img {
    width: 500px;
    height: 200px;
    margin-left: 100px;
    margin-top: -80px;
    margin-bottom: 80px;
  }
  .img-port-2 {
    margin-top: 150px;
    margin-left: -80%;
    height: 350px;
    width: 715px;
    padding-bottom: 30px;
    margin-right: -1000px;
  }
  .img-port-2 p {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
footer {
  background-color: #d6e1ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
.foot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}
footer p {
  color: grey;
}
.name {
  margin-bottom: -5px;
}
@media (min-width: 391px) {
  footer {
    margin-top: 600px;
  }
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 100px;
  }
  .foot img {
    width: 200px;
  }
}
