.box{
    background-color: green;
    color: white;
}
.box-one h2{
    color: brown;
    background-color: antiquewhite;
}
.box-one h3{
    color: blue;
    background-color: aqua;
}
.box-one div h3{
    color: yellow;
}
.box-one div div h3{
    color: rgb(0, 0, 255);
}