h1{
    color: blue;
    text-align: center;
}
p{
    color: black;
    background-color: lightgray;
    padding: 20px;
    margin: 15px;
}
.kotak{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    padding:10px;
    margin: auto;
}
#tombol{
    background-color: orange;
    padding: 8px 16px 8px 16px;
    color: white;
}
#tombol:hover{
    background-color: red;
    color: white;
}