* {
  font-family: "Inria Serif", serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5e6c4;
}

/* mobile */

header{
  position: sticky;
  top: 20px;

}
.img-1 img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #a67b5b;
  margin-left: -40px;
}
.nama-web {
  text-decoration: none;
  color: white;
  background-color: #a67b5b;
  margin-left: 10px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a67b5b;
  border-radius: 20px;
  padding: 10px 50px;
  margin: 30px 20px;
}
.nav-bar {
  display: none;
}
.btn-1 {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  position: absolute;
  right: 50px;
}
@media (min-width: 391px) {
  .img-1 img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #a67b5b;
    margin-left: -80px;
  }
  .nama-web {
    text-decoration: none;
    color: white;
    background-color: #a67b5b;
    margin-left: -20px;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a67b5b;
    border-radius: 20px;
    padding: 10px 100px;
    margin: 30px 20px;
  }
  .nav-bar {
    margin-left: 270px;
    display: block;
  }
  .nav-bar a {
    margin-left: 20px;
    text-decoration: none;
    background-color: #a67b5b;
    color: white;
  }
  .btn-1 {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    position: absolute;
    right: 50px;
  }
}

/* section 1 */

.img-2 img {
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
  position: fixed;
  top: 0;
  z-index: -99;
}
#tagline {
  color: white;
  text-align: center;
  margin-top: -350px;
  font-size: 30px;
}
.paragraph-1 {
  display: none;
}
.p-1 {
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 391px) {
  .img-2 img {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
  }
  #tagline {
    color: white;
    text-align: center;
    margin-top: -400px;
    font-size: 70px;
  }
  .paragraph-1 {
    display: block;
    margin-top: 1000px;
    width: 800px;
    font-size: medium;
    background-color: #f5e6c4;
    padding: 100px 100px;
  }
  .p-1 {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
.deco-1 img {
  display: none;
}
.deco-2 {
  display: none;
}
.Our-Menu {
  background-color: #f5e6c4;
  margin-top: 200px;
  margin-bottom: 1000px;
  height: 1000px;
}
