@font-face{
    font-family: disco;
    src: url(./asssets/70s_disco/70sDisco-Regular.ttf);
}
p{
    font-size: 20px;
    font-weight: 400;
    font-family: "disco", sans-serif;
    font-style: oblique;
}
@font-face{
    font-family: caviar;
    src: url(./asssets/caviar_dreams/CaviarDreams.ttf);
}
.p2{
    font-family: caviar;
}