.card-one {
  width: 500px;
  height: 500px;
  background-color: greenyellow;
  position: relative;
}
.header-content-card {
  width: 200px;
  height: 200px;
  background-color: purple;
  position: absolute;
  right: -20px;
  bottom: 0;

  z-index: -2;
}
/* z-index baut maju mundurin tumpukan content */